.navbar-brand img{
    height: 50px;
}.navbar-nav li{
    padding: 10px;
}
body{
    background-color: #393e46;
}
.jumbotron {
    color: #eeeeee;
    padding: 5rem 1rem;
    
}
h1 {
    margin: 20px;
    font-size: 50px;
}
h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.btn{
    margin: 20px;
    width: 150px;
    height: 40px;
    color:#ffffff;
    background-color:#f7a440;
    border-radius: 5px;
    font-size: 20px;
}
.btn:hover{
    background-color: #ffffff;
    color: #276678;
}